*{
	padding:0px;
	margin: 0px;
}

body{
	font-family: 'Raleway', sans-serif;
}

.container{
	width: 600px;
	margin: auto;
	background-color: #f4fa9c;
}

header{
	text-align: center;
}

h1{
	text-align: center;
	color: #f469a9;
	padding: 10px;
}

main{
	margin: 20px;
	margin-left: 100px;
}

h5{
	text-align: left;
	margin: 10px;
	margin-left: 0px;
	font-size: 16px;
}

label{
	font-size: 14px;
}

input{
	width: 250px;
	height: 30px;
	border:none;
	border-radius: 4px;
	padding: 2px;
}

.col-30{
	float: left;
	width: 30%;
}

.col-70{
	float: left;
	width: 40%;
}

.row:after{
	content: "";
	display: table;
	clear: both;
}

@media screen and (max-width: 600px){
	.col-30, .col-70, input[type=submit]{
		width: 100%;
		margin-top: 0px;
	}
}

button{
	display: inline-block;
	padding: 10px;
	border:1px solid black;
	margin: 6px;
	margin-left: 100px;
	border-radius: 2px;
	box-sizing: border-box;
	text-decoration: none;
	font-weight: 300;
	color: black;
	text-align: center;
	transition: all 0.2s;
	background-color: rgba(0,0,0,0);
}

button:hover{
	cursor: pointer;
	color: #000000;
	background-color: #88bef5;
}

.container2{
	width: 600px;
	margin: auto;
	background-color: #ba53de;
}

#campo{
	text-align: center;
	margin: 20px;
}